<header>
  <nav class="navbar navbar-dark bg-primary">
    <%= image_tag 'fumiblog.png', class: "rounded-circle", size: "40x40" %>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="menu" class="collapse navbar-collapse">
  </nav>
</header>
