<p>
  請求という行為。物を販売したら、作業を手伝ったら、何かを解決したら、・・。当然対価をもらいます。
</p>
<h4>商いの鉄則。</h4>
<p>
  生活の上で当然。ですがボランティアではないのに上手く請求できない。 
  <a href="https://github.com/azouaoui-med/pro-sidebar-template" target="_blank">
    Github
  </a>
  , 考え方が違います。販売する前、作業する前、解決する前に考えるのです。「どうしたらこの作業に対しお金を払ってくれるだろう」
</p>
